* {
  font-family: 'Lato', sans-serif;
}

body {
  max-width: 1440px;
  margin: 40px 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 52px;
  height: 47px;
}

h1 {
  color: #D04F4F;
  font-size: 2.25em;
  font-family: 'DM Sans', sans-serif;
  margin: 0 0 20px 0;
}

.search {
  position: relative;
  display: flex;
  margin: 0 100px 25px 100px;
  max-width: 1240px;
}

.search__input {
  background: #E7E7E7;
  height: 69px;
  font-size: 1.125em;
  padding-left: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
}

.search__input:focus {
  outline: none;
  background: #E7E7E7;
  border: 1px solid #ced4da;
}

.search__logo {
  position: absolute;
  top: 17px;
  right: 19px;
  color: black;
  width: 32px;
  height: 32px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.btn-filter {
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 0.875em;
  font-weight: 700;
  background-color: #3282F7;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-filter__cross {
  margin-left: 13px;
  align-self: center;
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.dropdowns {
  display: flex;
  margin: 0 80px 0 100px;
}

.dropdown {
  position: relative;
  width: 150px;
  min-width: 150px;
  height: 69px;
  border-radius: 5px;
  margin-right: 40px;
}

.dropdown__input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 0 0 20px;
  font-size: 1.125em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

.dropdown__input-title {
  position: absolute;
  color: white;
  font-size: 1.125em;
  font-weight: 700;
  top: 24px;
  left: 20px;
}

.dropdown__input:focus-visible {
  outline: none;
}

.dropdown__input::placeholder {
  color: transparent;
  text-align: left;
}

.dropdown__btn {
  position: absolute;
  height: 100%;
  right: -20px;
  top: 0;
  border: none;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.dropdown__btn__arrow {
  filter: brightness(0) invert(1);
  height: 20px;
  width: 20px;
  margin-top: 5px;
}

.dropdown__menu {
  display: none;
  width: 100%;
  margin-top: -20px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}

.dropdown__menu .no-filter {
  z-index: 999;
  color: white;
  margin: 0;
  padding: 5px;
}

.dropdown__menu-ingredient, .dropdown__menu-appliance, .dropdown__menu-ustensil {
  z-index: 999;
  width: 31%;
  margin: 0;
  padding: 5px;
}

.dropdown__menu-ingredient-filter, .dropdown__menu-appliance-filter, .dropdown__menu-ustensil-filter {
  color: white;
  text-decoration: none;
}

.show-all {
  width: 667px;
  z-index: 99;
}

.show-all .show {
  display: flex;
}

.show-all .search-filter::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.show-all .open {
  transform: rotate(180deg);
}

.hide {
  display: none;
}

.color1 {
  background-color: #3282F7;
}

.color2 {
  background-color: #68D9A4;
}

.color3 {
  background-color: #ED6454;
}

.recipes-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 75px;
}

.recipes-results .no-result {
  display: none;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  font-size: 1.4em;
}

.card {
  width: 380px;
  margin: 25px;
  padding: 0;
  border-radius: 5px;
  background-color: #E7E7E7;
  overflow: hidden;
}

.card__img {
  height: 178px;
  background-color: #C7BEBE;
}

.card__body {
  line-height: 13px;
  padding: 10px 20px;
  height: 176px;
  display: grid;
  grid-template-areas: "a a" "c d";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 62px 109px;
}

.card__body-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-area: a;
  font-size: 1.125em;
  padding: 20px 0;
  max-width: 250px;
  line-height: 15px;
}

.card__body-time {
  display: flex;
  grid-area: a;
  font-size: 1.125em;
  font-weight: 700;
  text-align: right;
  padding: 20px 0;
  justify-content: right;
  align-items: center;
}

.card__body-time--logo {
  height: 20px;
  width: 20px;
  margin-right: 7px;
}

.card__body-list-ingredients {
  grid-area: c;
  padding-right: 10px;
}

.card__body-ingredients {
  font-size: 0.75em;
  font-weight: 400;
}

.card__body-ingredients--bold {
  font-weight: 700;
}

.card__body-description {
  grid-area: d;
  font-size: 0.75em;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  height: 106px;
}

@media (max-width: 1440px) {
  .card {
    flex-grow: 1;
    min-width: 35%;
    max-width: 45%;
  }
}

@media (max-width: 1024px) {
  .card {
    max-width: 100%;
    min-width: 100%;
  }
  .recipes-results {
    margin: 0 100px;
  }
  .dropdown__btn {
    font-size: 15px;
  }
  .dropdown__menu {
    font-size: 15px;
    flex-direction: column;
  }
  .dropdown__menu-ingredient, .dropdown__menu-appliance, .dropdown__menu-ustensil {
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  body {
    margin: 10px;
  }
  .search {
    margin: 0 10px 15px 10px;
  }
  .search__input {
    height: 40px;
    font-size: 0.8em;
    padding: 0 50px 0 10px;
  }
  .search__input[placeholder] {
    text-overflow: ellipsis;
  }
  .search__logo {
    top: 5px;
    right: 10px;
    width: 20px;
  }
  .filter-list {
    margin: 0 10px;
  }
  .btn-filter {
    margin-right: 10px;
    padding: 10px 10px;
    font-size: 0.7em;
    margin-bottom: 10px;
  }
  .btn-filter__cross {
    height: 15px;
    width: 15px;
  }
  .dropdowns {
    margin: 0 10px 0 0;
  }
  .dropdowns .dropdown {
    min-width: 40px;
    height: 45px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .dropdowns .dropdown__input {
    padding: 0 0 0 10px;
    font-size: 0.75em;
    font-weight: 600;
  }
  .dropdowns .dropdown__input-title {
    font-size: 0.75em;
    font-weight: 600;
    top: 15px;
    left: 10px;
  }
  .dropdowns .dropdown__btn {
    padding: 0 5px;
  }
  .dropdowns .dropdown__btn__arrow {
    width: 12px;
    height: 12px;
  }
  .dropdowns .dropdown__menu {
    font-size: 12px;
    margin-top: -5px;
    padding: 0 10px 10px 10px;
  }
  .dropdowns .dropdown__menu .no-filter {
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .show-all {
    width: 100%;
  }
  .recipes-results {
    margin: 0 10px;
  }
  .card__body {
    line-height: 10px;
  }
  .card__body-title {
    font-size: 0.8em;
    margin-right: 100px;
  }
  .card__body-time {
    font-size: 0.8em;
  }
  .card__body-time--logo {
    height: 20px;
    width: 20px;
  }
  .card__body-ingredients {
    font-size: 0.6em;
  }
  .card__body-description {
    font-size: 0.6em;
  }
}
/*# sourceMappingURL=style.css.map */